@import 'tailwindcss';

* {
    /* font-family: 'Oswald', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal; */
    background-color: #ddddda;
}

/* html,
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to right, #eaf1e6, #ffe495, #ffe96e);
  
}

 */
/* html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(
        to right,
        rgba(229, 249, 215, 0.2),
        #f8fff5cc,
        rgba(235, 255, 226, 0.2)
    );
    backdrop-filter: blur(20px);
} */

#linkList {
    font-family: 'Montserrat', Courier, monospace;
}
