@import 'tailwindcss';


html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


 



#linkList {
    font-family: 'Inter', Courier, monospace;
}

#title {
    font-family: 'Inter', Courier, monospace;
}


